*{
	margin:0;
	padding:0;
}

body{
	background-color: #f5dea3;
}
hr{
	border-color: #00000;
	border-width: 1px;	
	border-style: solid;
}
	video::backdrop {
  background-color: #018383;

}

.main-nav{
	width:100%;
	height:83px;
	list-style:none;

	background-color:#018383;
	opacity:1;
}

.logo{
	width:200px;
    height:60px;
    float:left;
	display:inline-block;

 	 padding-top:0;

    margin-left:10px;
	margin-right:50px;
    margin-top: 10px;  
    margin-bottom:1px; 
	
	
}

.main-nav li{
	float:right;
}

.main-nav li a{
	color:white;
font-size: 30px;
font-family: "roboto";
text-align: center;
position: right;

padding: 5px 20px;

margin: 30px;
}

.main-nav li a:hover{
	color:black;

}
.main-nav li.active a{


border: 1px 	;
border-color: #f5dea3;

}

.img1 {
	height: 350px;
	width: 500px;
	float: right;
	padding: 5px;
	border-style: solid;
	border-width: 5px; 
	border-color: #f5dea3;
	
	border-radius: 40px;

	margin-bottom: 5px;
	margin-left: 50px;
	margin-top: 15px;
	margin-right: 10px;
}


.img1:hover {
	opacity:0.4;
}

	

.heading1{
	font-family:sans-serif;
	font-size:60px;

	margin-top:25px;
	margin-bottom:40px;
	margin-left:30px;
	
}
.text1 {
	font-size: 25px;
	font-color:#f5dea3;
	
	margin-left: 30px;
	margin-bottom: 80px;



}
.text2{
	font-size: 25px;
	font-color:#f5dea3;
	
	margin-left: 30px;
	margin-bottom: 50px;
	margin-right: 20px;
}

.heading2 {
	left width:100%;
	height:40px;
	list-style:none;
	background-color:#018383;
	opacity:1;
	color: white;
	text-align: center;
	font-size: 30px;
}
.heading3 {
	left width:100%;
	height:40px;
	list-style:none;
	background-color:#018383;
	opacity:1;
	color: white;
	text-align: center;
	font-size: 30px;
}



.footer1{
	width:100%;
	height:90px;
	list-style:none;
	background-color:#018383;
	opacity:1;
	color: white;
	font-size: 20px;
	text-align: center;

}
.footer2{
	float: right;
	height: 70px;
}

.char1{
	height: 150px;
	align-items: center;

	padding-left:60px;
	margin: 3em;
	margin: -6px;


}
.char1:hover{
	transition: transform .2s;
	transform: scale(2)

}

.arrowup{
	align-items: right;
	float: right;

}

.title1{
	width:1479px;
	height:83px;
	list-style:none;
	background-color:#018383;
	opacity:1;
}

.title1 {
color:white;
font-size: 60px;
font-family: "roboto";
text-align: center;
position: right;

padding: 5px 20px;

margin: 0px;
}

.f1{

	font-size: 20px;
	color: black;
	float: right;

	margin-top: 20px;
	margin-left: 10px;
	margin-right: 50px;
	margin-bottom: 50px;

}
.f2{
	font-size: 30px;
}
.formimg1:hover {
	transition: transform 100ms;
	transform: scale(2);
}


input[type=text]{
	border-style: solid;
    border-color: #018383;
  
}

	input[type=number]{
	border-style: solid;
    border-color: #018383;

}
input[type=email]{

	border-style: solid;
    border-color: #018383;
}

	
input[type=submit]{
    background-color:#018383;
    color:white;

    border-style: dashed;

	padding:10px 15px;
	margin-top:10px;
	
}

input[type=submit]:hover{
    background-color:black;
}

input[type=reset]{
    background-color:#018383;
    color:white;

	padding:10px 15px;

	border-style: dashed;

	margin-top:10px;
	
}

input[type=reset]:hover{
    background-color:black;
}

.footer2{
	width:100%;
	height:90px;
	list-style:none;
	background-color:#018383;
	opacity:1;
	color: white;
	font-size: 20px;
	text-align:right;

}

.home1{	
	color:  white;
	float: left;
	font-size: 50px;
}